@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    @apply motion-safe:!scroll-smooth;
  }

  body {
    @apply bg-black-100 text-black dark:bg-black dark:text-white;
    @apply min-h-screen;
  }

  b,
  strong {
    @apply font-semibold;
  }
  video {
    @apply w-full rounded-lg;
  }
  
  .typing {
    position: relative;
    
  }
  .typing:before {
    @apply bg-gray-50 dark:bg-black;
    content: "";
    position: absolute;
    top: -2px;
    left:0;
    height:110%;
    width:100%;
    border-left: 2px solid blue;
    animation: animate 4s steps(12) infinite;
  }

  @keyframes animate {
    40%, 60% {
      left: 100%
    }
    100% {
      left: 0%
    }
  }
}

@layer utilities {
  .px-container {
    @apply px-6 lg:px-8;
  }

  .focus-default {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-violet focus-visible:ring-offset-2 focus-visible:ring-offset-white dark:focus-visible:ring-offset-black;
  }

  .prose-custom {
    @apply prose prose-lg prose-violet dark:prose-invert prose-a:no-underline;
  }
}